<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Dr Robin Thompson - {{title}}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
		<meta name="description" content="Robin Thompson's website: Mathematical Epidemiologist at University of Oxford and Junior Research Fellow at Christ Church">
		<meta name="keywords" content="Robin,Thompson,Website,Research,Publications,Oxford,Mathematical,biology,epidemiology,Lady,Margaret,Hall,maths,zoology,LMH,disease,infectious,modelling,Ebola,sudden,oak,death,pathogens,plants">
		<meta name="author" content="Robin Thompson">
		<meta name="theme-color" content="#002147">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script src="/js/changeDiv.js"></script>
		<script src="/js/googleAnalytics.js"></script>
	</head>
	<body onload="updateState({{# each navLinks}}{{#ifeq ../section key}}'{{href}}','{{label}}','{{title}}','{{key}}'{{/ifeq}}{{/each}})">
		<nav class="navbar navbar-static">
			<div class="container">
				<div class="nav-collapse collase">
					<ul class="nav navbar-nav">
					{{# each navLinks}}
						<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}} id="{{ key }}">
							<a href="{{ href }}" onclick="changeDiv(event,'{{href}}','{{label}}','{{title}}','{{key}}')">{{ label }}</a>
						</li>
					{{/each}}
					</ul>
					<ul class="nav navbar-right navbar-nav" id="nav-right">
						<li>
							<a href="">robin-thompson.co.uk</a>
						</li>
					</ul>
				</div>
			</div>
		</nav><!-- /.navbar -->
		<div id="body">
			<!-- The content block should contain the body of your template's content-->
			<div class="container">
				<div class="row">
					<div class="col col-sm-3">
						<div id="sidebar" class="">
							<ul class="nav nav-stacked">
								<li><h3 class="highlight">Twitter</h3></li>
							</ul>
							<div class="twitter">
								<a class="twitter-timeline" href="https://twitter.com/RobinNThompson" data-widget-id="680838504599924740">Tweets by @RobinNThompson</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</div>
							{{#if CVUrl}}
								<ul class="nav nav-stacked">
									<li><a href={{CVUrl}} target="_blank"><h3 class="highlight" style="margin-top:0px;">CV</h3></a></li>
								</ul>
							{{/if}}
						</div>
					</div>
					<div id="animateMe" class="col col-sm-9">
						<div class="panel">
							<h1 id="heading" class="title">{{title}}</h1>
							<hr>
							<div id="content">
								<!--
									Flash messages allow you to display once-off status messages to users, e.g. form
									validation errors, success messages, etc
								-->
								{{#if messages}}
								<div id="flash-messages">
									{{#if messages.info}}
									<div class="alert alert-info">
											{{{flashMessages messages.info}}}
									</div>
									{{/if}}
									{{#if messages.success}}
									<div class="alert alert-success">
											{{{flashMessages messages.success}}}
									</div>
									{{/if}}
									{{#if messages.warning}}
									<div class="alert alert-warning">
											{{{flashMessages messages.warning}}}
									</div>
									{{/if}}
									{{#if messages.error}}
									<div class="alert alert-danger">
											{{{flashMessages messages.error}}}
									</div>
									{{/if}}
								</div>
								{{/if}}
								<div>
									{{{body}}}
								  <br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>

        <script src="/js/jqBootstrapValidation.js"></script>
        <script src="/js/contact_me.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
